<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <img [src]="'https://cdn.hubworks.com/ssoprod/202101271233/assets/images/icons/hubworks_white_bk.png'" width="200" height="50" alt="">
    </a>
  </nav>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Article Details</h2> 
    <div class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Search</span>
                </div>
                <input type="text" class="form-control" placeholder="Search" name="search" [(ngModel)]="searchTerm" (ngModelChange)="filterData()">
              </div>              
        </div>
        <div class="col-6">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <span class="input-group-text" id="basic-addon1">Sort By </span>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" name="orderBy"  autocomplete="off" value="name" 
                [(ngModel)]="orderByKey" (ngModelChange)="sortData()">
                <label class="btn btn-outline-primary" for="btnradio1">Name</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" name="orderBy" autocomplete="off" value="text"
                [(ngModel)]="orderByKey" (ngModelChange)="sortData()">
                <label class="btn btn-outline-primary" for="btnradio2">Article Text</label> 
              </div>
        </div>
        
    </div>
  
   <div *ngFor="let article of uiArticleArray">         
         
        <div class="card">
            <img class="card-img-top" [src]="article.image" style="height: 150px;width: 150px;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{article.owner.firstName}}</h5>
              <p class="card-text">{{article.text}}</p>
              <p class="card-text"><small class="text-muted">Last updated {{article.publishDate | date:'short'}}</small></p>
              <p>{{article.likes}}</p>
            </div>
          </div>

   
       
     </div> 

</div>

















<!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="....." [ngStyle]="{'height':'100%','width':'100%'}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body" >
          <h5 class="card-title">Title</h5>
          <p class="card-text" style="height: 120px;overflow: hidden;">Text</p>
          <p class="list-group-item text-danger">Tags:Tags</p>
          <p class="card-text" style="height: 50px;overflow: hidden;"><small class="text-muted"> 
           Last updated  
          </small></p>
        </div>
      </div>
    </div>
  </div> -->